*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
/*---------------------------------------------------------------------navbar----------------------------------------------------------------*/
header{
    background-color:#ABD9FF;
    position: relative;
  z-index: 1;
  border-bottom: 1px solid #fff;
}
li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
}

.nav-branding{
   height: 80px;
   padding: 5px;
   width: 250px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
  background-color: aliceblue; 
  border-radius: 3px;
   color:dodgerblue;
   padding: 10px;
}
ul li ul.sub-menu li{
  display: block;
  padding: .5rem;
  border-bottom: 1px solid #fff;

}
ul li ul.sub-menu li:last-child{
  border-bottom: none;
}
ul li ul.sub-menu{
  border-radius: 10px;
  display: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
 padding-right: 1.5rem;
 padding-left: 1.5rem;
  background: #1363DF;
  position: absolute;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 ul li a:hover{
  color:#79E0EE;
}
  ul li:hover ul.sub-menu{
    display: block;
  }



.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


 
  /* -------------------------------------------------END of navbar section------------------------------------------------- */


/*--------------------------------------------------home page corosel css-------------------------------------------------------------------------*/
.container {
  display: flex;
}


.image-carousel {
  width: 70%;
  position: relative;
}

.slide {
  display: none;
}

.slide img {

  width: 69.3vw;
  height: 70vh;
  
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.dots span.active {
  background-color: dodgerblue;
}

.content {
  height: 70vh;
  width: 30%;
 
  padding: 20px;
  background-color: #ABD9FF;
}

.content h1 {
  
color:#fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000080;
}
 /* -------------------------------------------------END of home-page------------------------------------------------- */

/*------------------------------------------------------button code*-------------------------------------------------------------*/
.buttons {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 25%;
  padding-left: 2rem;
  padding-right: 2rem;
 padding-top: 2rem;
 padding-bottom: 1rem;
  box-sizing: border-box;
}

.left, .right {
  background-color:#fff;
}

.middle {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
 color: #000080;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
 

}

button {
  --border: 5px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #79E0EE; /* the color */
  
  font-size: 35px;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
}
button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
button:hover,
button:active{
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
  
}
button:active {
  --s: #0005;
  transition: none;
}


 /* -------------------------------------------------END of Button section------------------------------------------------- */

  /* -------------------------------------------------About section--------------------------------------------- */
  .hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color:#ABD9FF;
    display: flex;
    flex-direction: row;
    margin: auto;
    
  }
  
  .hero h1 {
 
    
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 2rem;
    padding-left: .5rem;
    padding-bottom: 25px;
  }
  .hero p {
    font-family: "Montserrat", sans-serif;
    color:#000080;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 4rem;
  }
  
  .image{
    background-color: #79E0EE;
  
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 50vw;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
  }

  
  /* -------------------------------------------------About section ENDS--------------------------------------------- */


  
  /*---------------------------------------------section 2 code---------------------------------------------*/

  .section2{
   text-align: right;
    background-color: #fff;
    flex-direction: column;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;

  }
  .sec2{
    color: #79E0EE;
    
   
    
    font-family: "Roboto", sans-serif;


  }
  .scontent{
    
    color: #000080;
    
    padding-top: 1rem;
    
    
    padding-left: 40%;
   padding-bottom: 2rem;

    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.5px;

  }

 







   /*---------------------------------footer section----------------- */
   .footer{
    background-color:#ABD9FF;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: "Roboto", sans-serif;
   }
  /* -----------------------------end of footer section--------------------- */
/*-------------------------------responsiveness code-----------------------------*/


@media(max-width:768px){
  /* --------------------------hamburgur code-------------------------- */
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){

        transform: translateY(-8px) rotate(-45deg);

    }
    /* --------------------------navbar code-------------------------- */
    .nav-menu{
        
        position: fixed;
        left: -100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        background-color:  #37E8FC;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        
    }
    
    .nav-item{
        margin:16px 0;
        
    }
    .nav-menu.active{
        left:0;
        display: flex;
  flex-direction: column;
  background-color: #B0DAFF;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
 
        
    }
    .nav-branding{
        
        padding: 8px;
       
     }
     /*------------------About Section Code-------------------*/
     .hero {
      flex-direction: column;
      text-align: center;
      justify-content: center;
     
      width: 85%;
     }
   .image {
    
      order: 1;
      margin-bottom: 40px;
     }
   .hero div {
      order: 2;
      height: auto;
      margin-bottom: 15px;
      margin-right: 0;
     }
   .hero p {
      padding: 0 50px 0 50px;
      margin-bottom: 50px;
     }
     /*---------------------------- images and landing page content ------------------------*/
     .container {
      flex-direction: column;
    }
    .slide img {
      width: 100vw;
      height: 70vh;
    }
  
    .image-carousel {
      width: 100%;
    }
  
    .content {
      width: 100%;
    }
    
  
  /*---------------------------- button------------------------------------ */
  .buttons {
    flex-direction: column;
  }
  
  .column {
    flex-basis: 100%;
  }

}
